*.csv
*.pkl
.coverage
.pylintrc
*.lprof
*.txt
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.bbl
*.blg
*.pyc
*.gv
*.synctex.gz
*.idx
*.ilg
*.ind
*.toc
ignored/*
src/results/*
src/env/*
src/.ycm_extra_conf.py
experiment_*.json
random-l*-mrai-graph_*.graphml
constant-l*-mrai-graph_*.graphml
dpc*-l*-mrai-graph_*.graphml
banded_centrality-*-mrai-graph_*.graphml
centrality-*-mrai-graph_*.graphml
reverse_banded_centrality-*-mrai-graph_*.graphml
reverse_centrality-*-mrai-graph_*.graphml
reverse_dpc-*-mrai-graph_*.graphml
