*.csv
*.pkl
.coverage
.pylintrc
*.lprof
*.txt
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.bbl
*.blg
*.pyc
ignored/*
src/results/*
src/env/*
src/.ycm_extra_conf.py
experiment_*.json
random-l*-mrai-graph_*.graphml
constant-l*-mrai-graph_*.graphml
